@tailwind base;
@tailwind components;
@tailwind utilities;

@reference "tailwindcss";

:root {
  --foreground-rgb: 16, 16, 16;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 16, 16, 16;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::selection {
  background-color: var(--pink-500);
  color: var(--gray-50);
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.xterm-viewport::-webkit-scrollbar {
  @apply bg-transparent w-1;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 rounded-full;
}
